:root {
    --tg-bg: var(--tg-theme-bg-color, #1e1e1e);
    --tg-text: var(--tg-theme-text-color, #ffffff);
    --tg-hint: var(--tg-theme-hint-color, #000000);
    --tg-link: var(--tg-theme-link-color, #207adb);
    --tg-button: var(--tg-theme-button-color, #448fff);
    --tg-button-text: var(--tg-theme-button-text-color, #ffffff);
    --tg-secondary-bg: var(--tg-theme-secondary-bg-color, #000000);
    --tg-header-bg: var(--tg-theme-header-bg-color, #181818);
    --tg-section-bg: var(--tg-theme-section-bg-color, #fcfcfc);
    --tg-section-text: var(--tg-theme-section-header-text-color, #a7a7ac);
    --tg-section-separator: var(--tg-theme-section-separator-color, #efeff0);
    --tg-subtitle-text: var(--tg-theme-subtitle-text-color, #acacaf);
    --tg-destructive-text: var(--tg-theme-destructive-text-color, #ff3126);
    --radius: 8px;
    --shadow: 0 2px 5px var(--tg-header-bg);
    --transition: all 0.3s ease;
}

.btn {
    display: block;
    width: 70%;
    max-width: 400px;
    padding: 12px;
    margin: 1.5rem auto;
    border: none;
    border-radius: var(--radius);
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    color: var(--tg-button-text);
    background: var(--tg-button);
    transition: all 0.2s ease;
    position: relative;
}

.btn:hover {
    filter: brightness(1.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.btn:active {
    transform: scale(0.98);
}

.btn:disabled {
    opacity: 0.7;
    cursor: not-allowed;
}
