:root {
    --tg-bg: var(--tg-theme-bg-color, #1E1E1E);
    --tg-text: var(--tg-theme-text-color, #ffffff);
    --tg-hint: var(--tg-theme-hint-color, #000000);
    --tg-link: var(--tg-theme-link-color, #2C91FF);
    --tg-button: var(--tg-theme-button-color, #728FED);
    --tg-button-text: var(--tg-theme-button-text-color, #c20e0e);
    --tg-secondary-bg: var(--tg-theme-secondary-bg-color, #000000);
    --tg-header-bg: var(--tg-theme-header-bg-color, #181818);
    --tg-section-bg: var(--tg-theme-section-bg-color, #FFFFFF);
    --tg-section-text: var(--tg-theme-section-header-text-color, #A7A7AC);
    --tg-section-separator: var(--tg-theme-section-separator-color, #EFEFF0);
    --tg-subtitle-text: var(--tg-theme-subtitle-text-color, #ACACAF);
    --tg-destructive-text: var(--tg-theme-destructive-text-color, #ff3126);
    --radius: 10px;
    --shadow: 0 4px 20px var(--tg-header-bg);
    --transition: all 0.2s ease;
}